.Container-task{
    padding: 2.5rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
}
.Container-task h2{
    color: var(--color-white);
    
    
}
.Container-task p{
    color: var(--color-white);    
}
.Card-Task-Undefined h3{
    color: var(--tambo-secondary);
}
.Container-task .Card-Task{
   width: 100%;
}
.Container-task .Card-Task h3{
    font-size: 1.2rem;
    color: var(--color-white);
    padding-bottom: 1.5rem;
    
}
.Container-task .Card-Task h3{
    display: flex;
    justify-content: space-between;
}
.Container-task .Card-Task h3 select{
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
}
.Container-task .Card-Task .Task-Details{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 550px));
    gap: 0.8rem;

}
.Container-task .Card-Task .Task-Details .Details{
    padding: 3rem 2rem;
    height: fit-content;
    border-radius: 0.3rem;
    /* From https://css.glass */
    /* From https://css.glass */
    background: rgba(218, 112, 214, 0.62);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(218, 112, 214, 0.3);
    
}
.Container-task .Card-Task .Task-Details .Details ul{
    list-style: none;
    line-height: 1.2em;
}
.Container-task .Card-Task .Task-Details .Details ul li{
   
    color: var(--tambo-secondary);
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    font-weight: 600;

}
.Container-task .Card-Task .Task-Details .Details ul li span{
    font-weight: 300;
    font-size: 0.8rem;
    overflow-wrap: break-word; 
  word-break: break-word;
  color: var(--color-white);
}
.Container-task .Card-Task .Task-Details .Details button{
    float: right;
}
.Container-months{
    place-content: center;
    padding: 2rem 0;
     padding: 3rem 2rem;
    height: fit-content;
    border-radius: 0.3rem;
    /* From https://css.glass */
    /* From https://css.glass */
    background: rgba(218, 112, 214, 0.62);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(218, 112, 214, 0.3);
}
.Container-months h3{
    color: var(--color-white);

}
.Container-months p{
    color: var(--color-white);

}
.Container-months .Months{
    background-color: var(--color-white);
    border-color: var(--color-white);
    border-radius: 0.5rem;
    color: var(--tambo-card);
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    
}
.Container-months hr{
    border: 1px solid white;
    height: 1px;
    width: 100%;
    margin: 1rem 0;
}

.Container-months ul li{
    color: var(--color-white);
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-bottom: 1rem;
    align-items: center;
}
.Container-months ul li svg{
    width: 2rem !important;
    height: 1.5rem !important;
}
.Container-months ul li .Content_info{
    line-height: 2em;
}
.Container-months ul li .Content_info a{
  color: var(--tambo-secondary);
}
.Container-months ul li .Content_info span{
    color: #ffc29d;
}