.login-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
@media (max-width:580px) {
    .login-form{
        width: 80%;
    };
}
.login-form h1{
    color: #fff;
    font-size: 1.5rem;
}

.Container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
}
@media (max-width:1000px) {
    .Container-login{
        flex-direction: column-reverse;
        gap: 0;
    }
}
.Container-login img{
    width: 20rem;
    height:20rem;
}
@media (max-width:1000px) {
    .Container-login img{
    width: 15rem;
    height:15rem;
    }
}
@media (max-width:700px) {
    .Container-login img{
    width: 10rem;
    height:10rem;
    }
}

.account-demo{
    padding: 0.5rem;
    color: var(--color-white);
    font-size: 0.7rem;
}