.login-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.login-form h1{
    color: #fff;
}

.Container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
}
.Container-login img{
    width: 20rem;
    height:20rem;
}