.Container-task .user-create-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.Container-task .user-create-form label{
    color: var(--color-white);
    font-size: 0.8rem
}
.Container-task .user-create-form button{
    padding: 0.5rem 1rem;
}

.Container-task .user-create-form .Correct-box{
    background-color: var(--tambo-card);
    display: flex;
    gap: 0.5rem;
    padding: 1.5rem 2rem;
}

.Container-task .user-create-form .Correct-box svg{
  color: #43D62B;
  width: 1rem;
  height: 1.5rem;
}
.Container-task .user-create-form .Correct-box p{
  color:  #ffffff;
}


