.sidebar{
    width: 20%;
    height: 100%;
    background-color: var(--tambo-secondary);
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.sidebar h2{
    color: var(--tambo-main);
    text-align: center;
    font-size: 2rem;
    
}
.sidebar ul li{
    
    font-size: 0.9rem;
    list-style: none;
    line-height: 1.3em;
    margin-bottom: 0.8rem;
}
.sidebar ul li a{
    color: var(--tambo-gray);
}
.sidebar ul li a:hover{
    color:var(--tambo-card);
}
.sidebar a.active {   
color:var(--tambo-card);  
  font-weight: 700;
}
.sidebar ul{
    
}
.sidebar ul li a{
    text-decoration: none;
}