.dashboard{
    height: 100vh;
    display: flex;
    width: 100%;
    overflow: hidden;
}
@media (max-width:900px) {
    .dashboard{
        flex-direction: column;
    }
}
.dashboard main{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}